body {

}

aside {
	float: left;
	width: 200px;
	min-height: 510px;
	background-color: #9AD7FF;
}

article {
	padding-top: 10px;
	background-color: #D5FEFF;
	min-height: 500px;
	width: 700px;
}

section {
	padding-left: 250px;
	padding-right: 50px;
}

section img {
	width: 40px;
	height: 40px;
}

hr {
	position: relative;
	width: 80%;
}

#logo {
	margin: 15px;
}

#avatar {
	float: right;
	padding-left: 70px;
	padding-right: 40px;
	width: 100px;
	height: 100px;
}

#nombre {
	font-size: 20px;
}

#posicion {
	color: blue;
}

#departamento {
	color: green;
}

#company {
	font-style: italic;
}

.pequeña {
	font-size: 12px;
	text-align: center;
}
